<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<array>
		<dict>
			<key>modelId</key>
			<integer>3</integer>
			<key>name</key>
			<string>Family</string>
			<key>uuid</key>
			<string>dHQqSN7YToqyz2F3RyJICw</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>6</integer>
			<key>name</key>
			<string>Birthday</string>
			<key>uuid</key>
			<string>aiUJjQc1RIqxP1CRORDG0A</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>2</integer>
			<key>name</key>
			<string>Favorite</string>
			<key>uuid</key>
			<string>kAb3F7dRT5KGAVkyp1N15g</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>5</integer>
			<key>name</key>
			<string>Vacation</string>
			<key>uuid</key>
			<string>HXvodEnbQ8mAWVxqsczD9A</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>1</integer>
			<key>name</key>
			<string>✔</string>
			<key>uuid</key>
			<string>WNNISkdfSVCfscGTKIb7KA</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>4</integer>
			<key>name</key>
			<string>Kids</string>
			<key>uuid</key>
			<string>3DNj8LQwQJ2fL3ghAHE4lw</string>
		</dict>
	</array>
	<key>keywords_version</key>
	<integer>7</integer>
</dict>
</plist>
